# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PIN tool binaries, output and sorted
MyPinTool/obj-intel64
MyPinTool/output
MyPinTool/sorted
MyPinTool/pin.log

# Trace Analysis Tool binaries and output
TraceAnalyzer/bin/*.class
TraceAnalyzer/output
TraceAnalyzer/visualizer/plots/*
MyPinTool/benchmark_time.txt
TraceAnalyzer/tracer_output.log
